@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-white font-sans text-slate-900 antialiased;
}

* {
  @apply selection:bg-gran-sky selection:text-slate-900;
}
